<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @movie.genre.name %>
</p>

<p>
  <strong>Playtime:</strong>
  <%= @movie.playtime %>
</p>

<p>
  <strong>Director:</strong>
  <%= @movie.director %>
</p>

<p>
  <strong>Description:</strong>
  <%= @movie.description %>
</p>

<p>
  <strong>Poster:</strong>
  <%= image_tag @movie.movie_img.url(:movie_show), class: "movie-show" %>
</p>


<%= link_to 'Back', movies_path %>

<% if user_signed_in? %>

		<% if @movie.user_id == current_user.id %>
      <%= link_to 'Edit', edit_movie_path(@movie) %> |
      <%= link_to 'Destroy', @movie, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  <% end %>
